{% load i18n %}

<nav class="breadcrumb">
    <a href="{% url "ensemble:ensemble_index" %}" class="breadcrumb__link">{% trans "Труппа" %}</a> <span class="breadcrumb__spacer">/</span>
    {{ object.full_name }}
</nav>