{% extends CMS_TEMPLATE %}
{% load i18n thumbnail sekizai_tags %}

{% block title %}
    {{ object.seo_title }}
{% endblock %}

{% block description %}{{ object.seo_description }}{% endblock %}

{% block extrajs %}
    <script type="text/x-template" id="gallery-popup-template">
        <div class="gallery-overlay">
            <div class="gallery-popup">
                <div class="gallery-popup__image-wrapper">
                    <div class="container loading">
                        <div class="gallery-popup__closer">&times;</div>
                        <div class="gallery-popup__image-arrow gallery-popup__image-arrow_direction_left"></div>
                        <img src="" class="gallery-popup__image-photo" alt=""/>

                        <div class="gallery-popup__image-arrow gallery-popup__image-arrow_direction_right"></div>
                    </div>
                </div>
                <div class="gallery-popup__title"></div>
                <div class="gallery-popup__footer">
                    <div class="container">
                        <div class="gallery-popup__footer-arrow gallery-popup__footer-arrow_direction_left"></div>
                        <div class="gallery-popup__previews"></div>
                        <div class="gallery-popup__footer-arrow gallery-popup__footer-arrow_direction_right"></div>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/ballet-page.css">
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/tabs.css">
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/gallery.css">
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/video.css">
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/slider.css">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}theatre/js/slider.js"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}theatre/js/tabs.js"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}theatre/js/gallery.js"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script>
            $(function () {
                $(".ballet__tabs").tabs();
                $(".gallery").gallery();
                $(".slider").slider();
            });
        </script>
    {% endaddtoblock %}

    <div class="container">
        <h1 class="breadcrumb">
            <a href="{% url "repertoire:repertoire_index" %}" class="breadcrumb__link">{% trans 'Репертуар' %}</a>
            <span class="breadcrumb__spacer">/</span>
            {{ object.title }}
        </h1>
        <div class="content content__ballet">
            <section class="ballet__header"
                     style="background: url({% thumbnail object.cover 900x345 %}) right top no-repeat">
                <section class="ballet__info">
                    {{ object.titers|safe }}
                    {% if object.premiere_date_textual %}
                        <p class="ballet__premiere-date">{{ object.premiere_date_textual|safe }}</p>
                    {% endif %}
                    {% if object.premiere_date %}
                        <p class="ballet__premiere-date">{% trans "Премьера состоялась" %} {{ object.premiere_date }}</p>
                    {% endif %}
                </section>
            </section>

            <section class="ballet__tabs tabs">
                <nav class="tabs__header">
                    <div class="tabs__header-item tabs__header-item_active_true
                        {% if not object.summary %}tabs__header-item_disabled_yes{% endif %}">
                        {% trans "О спектакле" %}
                    </div>
                    <div class="tabs__header-item
                    {% if not object.eifmans_text %}tabs__header-item_disabled_yes{% endif %}">
                        {% trans "Слово Б.Эйфмана" %}
                    </div>
                    <div class="tabs__header-item
                    {% if not object.libretto %}tabs__header-item_disabled_yes{% endif %}">
                        {% trans "Краткое содержание" %}
                    </div>
                    <div class="tabs__header-item
                    {% if not object.has_video %}tabs__header-item_disabled_yes{% endif %}">
                        {% trans "Видео" %}
                    </div>
                    <div class="tabs__header-item
                    {% if not object.has_gallery %}tabs__header-item_disabled_yes{% endif %}">
                        {% trans "Галерея" %}
                    </div>
                    <div class="tabs__header-item
                    {% if not object.has_schedule %}tabs__header-item_disabled_yes{% endif %}">
                        {% trans "Ближайшие спектакли" %}
                    </div>
                    <div class="tabs__header-item
                    {% if not object.has_feedback %}tabs__header-item_disabled_yes{% endif %}">
                        {% trans "Пресса" %}
                    </div>
                </nav>
                <section class="tabs__content">
                    <div class="tabs__content-item tabs__content-item_visible_yes tabs__content-item_type_text">
                        {{ object.summary|safe }}
                    </div>
                    <div class="tabs__content-item tabs__content-item_type_text">
                        {{ object.eifmans_text|safe }}
                    </div>
                    <div class="tabs__content-item tabs__content-item_type_text">
                        {{ object.libretto|safe }}
                    </div>
                    <div class="tabs__content-item tabs__content-item_type_video">
                    {% if object.videos.count %}
                            <div class="slider ballet-page__video-gallery">
                                <div class="slider__arrow slider__arrow_disabled_yes slider__arrow_direction_left"></div>
                                <section class="slider__content">
                                    <div class="slider__wrapper">
                                        {% for video in object.videos.all %}
                                            {% if video.video_url %}
                                            <div class="slider__item video ballet-page__video-gallery_item">
                                                <iframe width="400" height="300" src="{{ video.video_url.embed_url }}" frameborder="0"
                                                        allowfullscreen></iframe>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </section>
                                <div class="slider__arrow slider__arrow_direction_right"></div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="tabs__content-item tabs__content-item_type_gallery">
                        <div class="gallery">
                            {% for photo in object.photos.all %}
                                <div class="gallery__thumbnail"
                                     data-th="{% thumbnail photo.image 93x93 crop %}"
                                     data-img="{% thumbnail photo.image 850x570 %}"
                                     data-title="{{ photo.title }}"
                                        >
                                    <img src="{% thumbnail photo.image 132x132 crop %}" alt=""/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tabs__content-item tabs__content-item_type_schedule">
                        {% include "theatre/plugins/upcoming_shows.html" with items=object.scheduled_items hide_title=True %}
                    </div>
                    <div class="tabs__content-item tabs__content-item_type_press">
                        {% for item in object.feedbacks.all %}
                            <div class="ballet__feedback ballet-feedback">
                                {% if item.title %}
                                    <h3 class="ballet-feedback__title">{{ item.title }}</h3>
                                {% endif %}
                                <div class="ballet-feedback__text">{{ item.text|safe }}</div>
                                <div class="ballet-feedback__info">
                                    {% if item.author %}{{ item.author }}, {% endif %}
                                    {% if item.publisher %}{{ item.publisher }}, {% endif %}
                                    {% if item.pub_date %}{{ item.pub_date }}{% endif %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </section>
            </section>
        </div>
    </div>
{% endblock %}
