{% extends CMS_TEMPLATE %}
{% load i18n cms_tags sekizai_tags %}

{% block content %}
    <div class="container">
        <div class="content content__ballet">
            <h1>{% trans "Репертуар" %}</h1>
            {#    TODO: Заменить на шаблонный тег #}
        </div>
    </div>

    {% static_placeholder "promo_block" %}

    <div class="container">
        <div class="content content__ballet">
            {% placeholder "content" %}
        </div>
    </div>
{% endblock %}
