{% extends CMS_TEMPLATE %}
{% load i18n cms_tags thumbnail sekizai_tags %}

{% block title %}{% trans "Труппа русского балета Бориса Эйфмана" %}{% endblock title %}

{% block content %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/persons.css"/>
{% endaddtoblock %}

<div class="content content__ensemble">
<section class="persons">
    <h1 class="persons__title">{% trans "Солисты" %}</h1>

    <section class="persons__list persons-list">
    {% for person in solists %}
        <div class="persons-list__item person person_role_solist">
        <div class="person__photo-wrapper person__photo-wrapper_role_solist">
        {% if person.photo %}
            {% if person.has_additional_info %}
            <a href="{% url "ensemble:person_page" role=person.role pk=person.pk %}"><img src="{% thumbnail person.photo 140x186 crop %}" alt="" class="person__photo"/></a>
            {% else %}
            <img src="{% thumbnail person.photo 140x186 crop %}" alt="" class="person__photo"/>
            {% endif %}
        {% endif %}
        </div>
        <h2 class="person__name person__name_role_solist">
            {% if person.has_additional_info %}
                <a href="{% url "ensemble:person_page" role=person.role pk=person.pk %}">{{ person.full_name }}</a></h2>
            {% else %}
                {{ person.full_name }}
            {% endif %}
        </div>
    {% endfor %}
    </section>
</section>

<section class="persons">
    <h1 class="persons__title">{% trans "Педагоги и репетиторы" %}</h1>

    {% regroup tutors by gender as tutors_groupped %}

    {% for tutors_group in tutors_groupped %}
    <section class="persons__list persons-list">
        {% for person in tutors_group.list %}
        <div class="persons-list__item person person_role_tutor">
            <div class="person__photo-wrapper person__photo-wrapper_role_tutor">
            {% if person.photo %}
                <img src="{% thumbnail person.photo 140x186 crop %}" alt="" class="person__photo"/>
            {% endif %}
            </div>
            <h2 class="person__name person__name_role_tutor">{{ person.last_name|upper }}<br>
                {{ person.first_name }}<br>
                {{ person.participant_name }}
            </h2>
        </div>
        {% endfor %}
    </section>
    {% endfor %}
</section>

<section class="persons">
    <h1 class="persons__title">{% trans "Кордебалет" %}</h1>

    {% regroup corpsdeballet by gender as corpsdeballet_groupped %}

    {% for corpsdeballet_group in corpsdeballet_groupped %}
    <section class="persons__list persons-list">
        {% for person in corpsdeballet_group.list %}
        <div class="persons-list__item person person_role_solist">
            <div class="person__photo-wrapper person__photo-wrapper_role_tutor">
            {% if person.photo %}
                <img src="{% thumbnail person.photo 140x186 crop %}" alt="" class="person__photo"/>
            {% else %}
                <svg height="186" width="140">
                    <image xlink:href="{{ STATIC_URL }}theatre/img/sign.svg" height="186" width="140" />
                </svg>
            {% endif %}
            </div>
            <h2 class="person__name person__name_role_solist">
                {{ person.full_name }}
            </h2>
        </div>
        {% endfor %}
    </section>
    {% endfor %}
</section>
</div>
{% endblock %}
