{% extends CMS_TEMPLATE %}
{% load i18n thumbnail sekizai_tags %}

{% block title %}{{ object.seo_title }}{% endblock %}

{% block description %}{{ object.seo_description }}{% endblock %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/person-page.css">
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/slider.css">
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}theatre/js/slider.js"></script>
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script>
        $(function() {
            $('.gallery').slider();
        });
        </script>
    {% endaddtoblock %}

    <div class="container">
    {% include "theatre/__person_title.html" %}

        <div class="content content__ensemble person-page">
            {% if object.about_text %}
                <section class="person-page__about">
                    {% if person.photo %}
                        <img class="person-page__person-photo" src="{% thumbnail person.photo 160x215 %}" alt=""/>
                    {% endif %}
                    <div class="person-page__about-text">
                        {{ object.about_text|safe }}
                    </div>
                </section>
            {% endif %}

            {% if object.photos.count %}
                <div class="gallery person-page__gallery">
                    <div class="slider__arrow slider__arrow_disabled_yes slider__arrow_direction_left"></div>
                    <section class="slider__content">
                        <div class="slider__wrapper">
                        {% for photo in object.photos.all %}
                            <div class="slider__item person-page__gallery_item">
                                <img src="{% thumbnail photo.image 940x630 %}" alt=""/>
                            </div>
                        {% endfor %}
                        </div>
                    </section>
                    <div class="slider__arrow slider__arrow_direction_right"></div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
