{% extends CMS_TEMPLATE %}
{% load i18n sekizai_tags schedule_tags thumbnail %}

{% block title %}{% trans "Афиша | новый театр русского балета Бориса Эйфмана" %}{% endblock %}

{% block extrajs %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock %}

{% block content %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/schedule.css">
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/map.css">
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}vendor/jquery/dist/jquery.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}vendor/black_map/js/map.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}theatre/js/schedule-popup.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script>
    $(function() {
        $('.schedule-item').schedulePopup();
    });
    </script>
{% endaddtoblock %}
<div class="container">
    <div class="content content__schedule">
    <h1>{% trans "Афиша" %}</h1>

    <section class="schedule">
        <section class="schedule-pager">
            <a class="schedule-pager__arrow schedule-pager__prev" href="{% url "schedule:month_view" year=previous_month|date:"Y" month=previous_month|date:"m" %}"></a>
            <div class="schedule-pager__title">{{ month|date:"F Y" }}</div>
            <a class="schedule-pager__arrow schedule-pager__next" href="{% url "schedule:month_view" year=next_month|date:"Y" month=next_month|date:"m" %}"></a>
        </section>

        <section class="schedule-list">
        {% for show in object_list %}
            {% include "theatre/inc/schedule_item.html" with image_size="270x270" image_width=270 image_height=270 mode="default" %}
        {% empty %}
            <p>{% trans "В этом месяце пока что ничего нет" %}</p>
        {% endfor %}
        </section>
    </section>
    </div>
</div>
{% endblock %}
