{% extends CMS_TEMPLATE %}
{% load i18n sekizai_tags staticfiles %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="content__title">
                {{ request.current_page.get_title }}
            </div>

            <p>
                {% trans "Ваше сообщение отправлено." %}
            </p>
        </div>
    </div>

    {% addtoblock "css" %}<link rel="stylesheet" href="{% static "css/form.css" %}">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static "theatre/css/vacancy.css" %}">{% endaddtoblock %}
{% endblock %}