{% extends CMS_TEMPLATE %}
{% load i18n sekizai_tags staticfiles %}

{% block content %}
<div class="container">
    <div class="content">
        <div class="content__title">
            {{ request.current_page.get_title }}
        </div>
        <div class="content__text">
            {% trans "Раздел предназначен для соискателей на замещение вакантных должностей артистов и солистов балета" %}.
        </div>
        <form class=" form form-horizontal vacancy" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {% for field in form %}
                <div class="form__item">
                    {{ field.errors }}
                    {% if field.id_for_label == 'id_terms_of_use' %}
                        {{ field }}
                        <span class="form__advanced">
                            {% blocktrans %}
                                В соответствии с Федеральным законом от 27.07.2006 г. № 152-ФЗ «О персональных данных»
                                подтверждаю свое согласие на передачу, обработку (включая сбор, систематизацию, накопление,
                                хранение, уточнение (обновление, изменение), использование, обезличивание, блокирование,
                                уничтожение персональных данных) СПб ГБУК «Академический театр Балета Бориса Эйфмана» (оператор)
                                моих персональных данных в целях содействия в трудоустройстве. Настоящее согласие дано
                                в отношении всех сведений, указанных в отправляемой Анкете. Условием прекращения обработки
                                персональных данных является получение оператором письменного уведомления об отзыве согласия
                                на обработку персональных данных. Настоящее согласие действует в течение 5 лет со дня его
                                получения оператором.
                            {% endblocktrans %}
                        </span>
                    {% else %}
                        {% if field.label %}
                            <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}: {% if field.field.required %}*{% endif %}</label>
                        {% endif %}
                        {% if field.help_text %}
                            <p class="form__help-text">{{ field.help_text }}</p>
                        {% endif %}
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="form__btn-wrapper btn_wrapper_indent_left">
                <button class="form__submit-btn" type="submit">
                    {% trans "Submit" %}
                </button>
            </div>
        </form>
    </div>
</div>

    {% addtoblock "css" %}<link rel="stylesheet" href="{% static "css/form.css" %}">{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{% static "theatre/css/vacancy.css" %}">{% endaddtoblock %}
{% endblock %}