.contacts-item {
    overflow: hidden;
    margin-bottom: 45px;
}

.contacts-item__map {
    width: 460px;
    height: 240px;
    float: left;
}

.contacts-item__address {
    font-size: 15px;
    overflow: hidden;
    margin-left: 475px;
}