.feedback-form {
    margin-bottom: 30px;
    width: 700px;
}

.feedback-form p {
    font-size: 18px;
    color: #b7b7b7;
}

.feedback-form label {
    display: inline-block;
    width: 296px;
    margin-right: 14px;
    margin-top: 10px;
    vertical-align: top;
    text-align: right;
}

.feedback-form input {
    font-size: 18px;
    width: 380px;
    height: 35px;
    vertical-align: top;
    -mox-box-sizing: content-box;
    box-sizing: content-box;
    background: #1E1E1E;
    border: none;
    color: #FFF;
}

.feedback-form textarea {
    font-size: 18px;
    width: 380px;
    height: 264px;
    vertical-align: top;
    -mox-box-sizing: content-box;
    box-sizing: content-box;
    background: #1E1E1E;
    border: none;
    color: #FFF;
}

.feedback-form__submit-wrapper {
    text-align: right;
}

.feedback-form .feedback-form__submit {
    font-size: 18px;
    width: 183px;
    height: 35px;
    vertical-align: top;
    text-align: center;
    -mox-box-sizing: content-box;
    box-sizing: content-box;
    background: #C6C6C6;
    border: none;
    color: #000;
}

#recaptcha_widget_div {
    margin-left: 320px;
    margin-top: -45px;
}

#recaptcha_response_field {
    height: auto;
}
