<div id="youtube-plugin-{{ object.id }}">
    <iframe width="{{ object.width }}"
            height="{{ object.height }}"
            src="{{ object.url.embed_url }}"
            frameborder="0"
            allowfullscreen></iframe>
</div>
