
<div class="diorama__item twilight" style="
    width: {% firstof item.width item.image.width %}px;
    height: {% firstof item.height item.image.height %}px">
    {% for text in item.texts.all %}
        <div class="twilight__text" style="
            {% if text.font_size %}font-size: {{ text.font_size }}px;{% endif %}
            left: {{ text.get_position.left }}px;
            top: {{ text.get_position.top }}px;
            color: {{ text.color }};
        ">{{ text.text|safe }}</div>
    {% endfor %}
    <a class="twilight__handler" href="{% url "repertoire:ballet_page" slug=item.ballet.slug %}" style="
        left: {{ item.get_handler_coordinates.left }}px;
        top: {{ item.get_handler_coordinates.top }}px;
        width: {{ item.get_handler_coordinates.width }}px;
        height: {{ item.get_handler_coordinates.height }}px;
    "></a>

    <div class="twilight__image-box" style="
        left: {{ item.get_image_coordinates.left }}px;
        top: {{ item.get_image_coordinates.top }}px;
        ">
        <img src="{{ item.image.url }}" alt="" class="twilight__image_cover_yes" />
        <img src="{{ item.blur.url }}" alt=""/>
    </div>
</div>
