.eifman-box {
    margin-bottom: 24px;
    text-align: justify;
}

.eifman-box_type_belt {
}

.eifman-box_type_belt .container {
    width: 960px;
    margin: 0 auto;
}

.eifman-box_type_regular {
}

.eifman-box_type_regular .container {
    width: 960px;
    margin: 0 auto;
}

.eifman-box_type_medium {
}

.eifman-box_type_medium .container {
    width: 800px;
    margin: 0 auto;
}

.eifman-box_type_narrow {
}

.eifman-box_type_narrow .container {
    width: 630px;
    margin: 0 auto;
}
