{% extends 'layout/layout.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h1>{% trans "Forbidden" %}</h1>

        {% trans "_page_details" %}
    </div>
{% endblock content %}
