{% extends 'layout/layout.html' %}
{% load i18n cms_tags sekizai_tags menu_tags %}

{% get_current_language as LANGUAGE_CODE %}

{% block promo %}
    {% static_placeholder "promo_block" %}
{% endblock %}

{% block description %}{% page_attribute "meta_description" %}{% endblock %}

{% block welcome %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}vendor/jquery/dist/jquery.min.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script>
    $(function() {
        var $container = $('.welcome-text');
        var $text = $('p', $container).hide();
        var rand = Math.floor(Math.random() * $text.length);
        $text.eq(rand).show();
    });
    </script>
{% endaddtoblock %}

    <div class="welcome welcome_lang_{{ LANGUAGE_CODE }}">
        <div class="container">
            <div class="welcome-image">
                {% static_placeholder "welcome-image" %}
            </div>
            <blockquote class="welcome-text">
                {% static_placeholder "welcome-text" %}
            </blockquote>
        </div>
    </div>
{% endblock %}
