{% extends 'layout/layout.html' %}
{% load cms_tags menu_tags social_icons %}
{% block description %}{% page_attribute "meta_description" %}{% endblock %}
{% block mainmenu %}
    <div class="container">
        <div class="menu-main menu-main_slim_yes" role="navigation">
            <ul class="nav navbar-nav">
                {% show_menu 1 2 100 100 "blocks/main-menu.html" %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="breadcrumb">
            {% show_breadcrumb 1 "blocks/breadcrumb.html" %}
        </div>
    </div>
    {% placeholder "content" %}
{% endblock content %}
