{% extends 'layout/layout.html' %}
{% load cms_tags social_icons menu_tags %}
{% block description %}{% page_attribute "meta_description" %}{% endblock %}
{% block mainmenu %}
    <section class="visual-separator">
        <div class="container">
            <div class="menu-main menu-main_slim_yes" role="navigation">
                <ul class="nav navbar-nav">
                    {% show_menu 1 2 100 100 "blocks/main-menu.html" %}
                </ul>
            </div>
        </div>
    </section>
{% endblock %}