{% extends 'layout/layout.html' %}
{% load i18n cms_tags menu_tags sekizai_tags %}
{% block description %}{% page_attribute "meta_description" %}{% endblock %}
{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/theatre-page.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/theatre-partners.css" />
    {% endaddtoblock %}
    <div class="breadcrumb">
        <div class="container">
        {% show_breadcrumb 1 "blocks/breadcrumb.html" %}
        </div>
    </div>
    <div class="content theatre-page">
        <div class="container">
            <section class="theatre-partners">
                <section class="theatre-partners__group">
                    <h2 class="theatre-partners__title">{% trans "Стратегические партнёры театра" %}</h2>

                    <div class="theatre-partners__list">
                    {% placeholder "partners_1" %}
                    </div>
                </section>

                <section class="theatre-partners__group">
                    <h2 class="theatre-partners__title">{% trans "Партнёры театра" %}</h2>

                    <div class="theatre-partners__list">
                    {% placeholder "partners_2" %}
                    </div>
                </section>

                <section class="theatre-partners__group">
                    <h2 class="theatre-partners__title">{% trans "Друзья театра" %}</h2>

                    <div class="theatre-partners__list">
                    {% placeholder "partners_3" %}
                    </div>
                </section>

            </section>

            <section class="theatre-page__navigation">
                {% static_placeholder "navigation" %}
            </section>
        </div>
    </div>
{% endblock content %}
