{% extends 'theatre.html' %}
{% load i18n cms_tags menu_tags sekizai_tags %}
{% block content %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/theatre-page.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/eifman-page.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/slider.css"/>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}theatre/js/slider.js"></script>
        <script>
            $(function () {
                $('.slider').slider({
                    item: 'img'
                });
            });
        </script>
    {% endaddtoblock %}

    <div class="container">
        <div class="breadcrumb">
            {% show_breadcrumb 1 "blocks/breadcrumb.html" %}
        </div>
    </div>

    <div class="content theatre-page eifman-page">
        <div class="container">
            <section class="eifman-page__intro">
                <div class="eifman-page__intro-image">
                    {% placeholder "intro-image" %}
                </div>

                <div class="eifman-page__intro-text">
                    {% placeholder "intro-text" %}
                </div>
            </section>

            {% placeholder "first" %}
        </div>
    </div>

    <section class="eifman-page__belt">
        <div class="container">
            <div class="eifman-page__belt-image">
                {% placeholder "belt-image" %}
            </div>
            <div class="eifman-page__belt-text">
                {% placeholder "belt-text" %}
            </div>
        </div>
    </section>

    <div class="container">

        <div class="content theatre-page">
            {% placeholder "second" %}

            <div class="eifman-page__gallery slider">
                <div class="slider__arrow slider__arrow_disabled_yes slider__arrow_direction_left"></div>
                <section class="slider__content">
                    <div class="slider__wrapper">
                        {% placeholder "gallery" %}
                    </div>
                </section>
                <div class="slider__arrow slider__arrow_direction_right"></div>
            </div>

            {% placeholder "third" %}
        </div>
    </div>

    <section class="eifman-page__belt eifman-page__quotes">
        <div class="container">
            <h2 class="eifman-page__quotes-title">{% trans "Пресса о Борисе Эйфмане:" %}</h2>

            <div class="eifman-page__quotes-content">
                {% placeholder "quotes" %}
            </div>
        </div>
    </section>

    <div class="container">
        <div class="content theatre-page">
            <section class="theatre-page__navigation">
                {% static_placeholder "navigation" %}
            </section>
        </div>
    </div>
{% endblock content %}
