{% extends 'layout/layout.html' %}
{% load cms_tags menu_tags sekizai_tags %}
{% block description %}{% page_attribute "meta_description" %}{% endblock %}
{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/theatre-page.css" />
    {% endaddtoblock %}
    <div class="container">
        <div class="breadcrumb">
        {% show_breadcrumb 1 "blocks/breadcrumb.html" %}
        </div>
    </div>
    <div class="content theatre-page">

        {% placeholder "content" %}

        <div class="container">
            <section class="theatre-page__navigation">
                {% static_placeholder "navigation" %}
            </section>
        </div>
    </div>
{% endblock content %}
