{% extends 'layout/layout.html' %}
{% load cms_tags social_icons menu_tags sekizai_tags %}
{% block description %}{% page_attribute "meta_description" %}{% endblock %}
{% block mainmenu %}
    <div class="container">
        <div class="menu-main menu-main_slim_yes" role="navigation">
            <ul class="nav navbar-nav">
                {% show_menu 1 2 100 100 "blocks/main-menu.html" %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/theatre-page.css" />
    {% endaddtoblock %}
    <div class="container">
        <div class="breadcrumb">
            {% show_breadcrumb 1 "blocks/breadcrumb.html" %}
        </div>
    </div>
    <div class="content theatre-page">
        <div class="container">
            <section class="theatre-page__tales">
                {% placeholder "tales" %}
            </section>
            <section class="theatre-page__navigation">
                {% static_placeholder "navigation" %}
            </section>
        </div>
    </div>
{% endblock content %}
