{% for ance in ancestors %}
	{% if not forloop.last %}
	<a href="{{ ance.get_absolute_url }}" class="breadcrumb__link">{{ ance.get_menu_title }}</a> <span class="breadcrumb__spacer">/</span>
	{% else %}
	<span class="active">{{ ance.get_menu_title }}</span>
	{% endif %}
{% endfor %}