{% load social_icons cms_tags menu_tags i18n %}
<footer class="footer">
    <div class="container">
        <div class="copyright">
            <p>&copy; 2005&ndash;{% now 'Y' %}</p>
            {% static_placeholder "theatre_name" %}
        </div>
        <div class="contacts">
            {% static_placeholder "contacts" %}
        </div>
        <div class="menu-footer">
            <ul class="nav navbar-nav">
                {% show_menu 1 1 100 100 "blocks/footer-menu.html" %}
            </ul>
            <a href="{% page_url "vacancy" %}" class="menu-footer__vacancy">
                {% page_attribute "page_title" "vacancy" %}
            </a>
        </div>
        <div class="footer__social-icons social-icons">
            {% social_icons %}

            <div style="margin-top: 20px;">
            <a href="http://www.bccom.ru/" nofollow>
            <img src="{{ STATIC_URL }}i/bc-logo.svg" height="30">
            </a>
            </div>
        </div>
    </div>
</footer>
