{% load social_icons i18n menu_tags staticfiles cms_tags sekizai_tags %}
{% get_current_language as language %}
<header class="header">
    <div class="logo">
        <a href="/">
            <img src="{{ STATIC_URL }}i/logo-{{ language }}.svg" alt="{% trans "Санкт-Петербургский Государственный Академический Театр Балета Бориса Эйфмана" %}"/>
        </a>
    </div>

    <div class="header__wrapper">
        <div class="header_wrapper_item">
            <div class="language-chooser">
                {% language_chooser %}
            </div>

            <div class="header__social-icons social-icons">
                <div class="social-icons__icon">
                    <a id="spec" data-url="{% page_url "spec" %}" href="javascript:void(0);" title="{% trans "Version for the visually impaired" %}">
                        <img src="{% static "i/eye-logo.svg" %}" alt="{% trans "Version for the visually impaired" %}" width="30" height="30">
                    </a>
                </div>
                {% social_icons %}
            </div>
        </div>
    </div>
</header>

{% addtoblock "js" %}<script src="{% static "spec/specver.js" %}"></script>{% endaddtoblock %}