{% with data=form.cleaned_data %}
    <table>
        <tr>
            <td>
                <h1>Вакансия</h1>
            </td>
        </tr>
        <tr>
            <td><b>{{ form.fio.label }}</b>:</td>
            <td>{{ data.fio }}</td>
        </tr>
        <tr>
            <td><b>{{ form.birth_date.label }}</b>:</td>
            <td>{{ data.birth_date }}</td>
        </tr>
        <tr>
            <td><b>{{ form.phone.label }}</b>:</td>
            <td>{{ data.phone }}</td>
        </tr>
        <tr>
            <td><b>{{ form.email.label }}</b>:</td>
            <td>{{ data.email }}</td>
        </tr>
        <tr>
            <td><b>{{ form.achivements.label }}</b>:</td>
        </tr>
        <tr>
            <td>{{ data.achivements|safe }}</td>
        </tr>
        <tr>
            <td><b>{{ form.place_of_study.label }}</b>:</td>
        </tr>
        <tr>
            <td>{{ data.place_of_study|safe }}</td>
        </tr>
        <tr>
            <td><b>{{ form.place_of_work.label }}</b>:</td>
        </tr>
        <tr>
            <td>{{ data.place_of_work|safe }}</td>
        </tr>
        <tr>
            <td><b>{{ form.personal.label }}</b>:</td>
        </tr>
        <tr>
            <td>{{ data.personal|safe }}</td>
        </tr>
        <tr>
            <td><b>{{ form.links.label }}</b>:</td>
        </tr>
        <tr>
            <td>{{ data.links|safe }}</td>
        </tr>
    </table>
    <hr />
{% endwith %}