{% load thumbnail sekizai_tags %}

<div class="theatre-page__link">
    <a href="{{ instance.page_link.get_absolute_url }}">
        <div class="theatre-page__link-image">
            {% if instance.image %}
                <img alt="" src="{% thumbnail instance.image 114x114 crop %}" />
            {% endif %}
        </div>
    </a>
    <h2 class="theatre-page__link-title"><a href="{{ instance.page_link.get_absolute_url }}"
            class="theatre-page__link">{{ instance.page_link.get_menu_title }}</a></h2>
</div>
