{% load thumbnail sekizai_tags %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/principal.css" />
{% endaddtoblock %}

<div class="theatre-principal
    theatre-principal_hasPhoto_{{ show_photo|yesno:"yes,no" }}">
    {% if show_photo %}
        <div class="theatre-principal__photo-wrapper">
            <img src="{% thumbnail person.photo 298x298 crop %}" alt=""/>
        </div>
    {% endif %}
        <div class="theatre-principal__name
            theatre-principal__name_style_{{ show_photo|yesno:"image,default" }}">
            {{ person.first_name }}
            {{ person.participant_name }}
            {{ person.last_name|upper }}{% if show_photo %}<br>{% else %},{% endif %}
            {{ person.position }}
        </div>
</div>
