{% load i18n thumbnail sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/tales.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/slider.css" />
{% endaddtoblock %}

{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}theatre/js/slider.js"></script>
    <script>
    $(function() {
        $('.slider').slider();
    });
    </script>
{% endaddtoblock %}

<div class="slider">
<div class="slider__arrow slider__arrow_disabled_yes slider__arrow_direction_left"></div>
<section class="tales slider__content">
    <div class="slider__wrapper">
    {% for item in items %}
    <article class="slider__item tales__item tales-item">
        <img class="tales-item__image tales-item__image_position_{{ item.photo_position }}" src="{% thumbnail item.photo 345x345 %}" alt=""/>

        <div class="tales-item__quote">
            <blockquote class="tales-item__text">
                {{ item.text|safe }}
            </blockquote>

            {% if item.signature %}
                <div class="tales-item__signature"><img src="{{ item.signature.url }}" alt=""/></div>
            {% endif %}
        </div>
    </article>
    {% endfor %}
    </div>
</section>
<div class="slider__arrow slider__arrow_direction_right"></div>
</div>