{% load i18n thumbnail sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/upcoming-shows.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/slider.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}theatre/css/popup.css" />
{% endaddtoblock %}

{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}theatre/js/slider.js"></script>
    <script src="{{ STATIC_URL }}theatre/js/popup.js"></script>
    <script>
    $(function() {
        $('.slider').slider({
            itemsInView: 2,
            showPager: false
        });
        $('.popup__root').popup();
    });
    </script>
{% endaddtoblock %}

{% if not hide_title %}
<h2 class="plugin-title">{% trans "Upcoming shows" %}</h2>
{% endif %}

<div class="slider popup__root">
<div class="slider__arrow slider__arrow_disabled_yes slider__arrow_direction_left"></div>
<section class="upcoming-shows-list slider__content">
    <div class="slider__wrapper">
    {% for item in items %}
    <article class="slider__item upcoming-shows-list__item upcoming-show-item">
        {% if item.item_cover %}
            <img class="upcoming-shows-item__image" src="{% thumbnail item.item_cover 219x232 crop %}" alt=""/>
        {% else %}
            <svg height="232" width="219" class="upcoming-shows-item__image">
                <image xlink:href="{{ STATIC_URL }}theatre/img/sign.svg" height="232" width="219" />
            </svg>
        {% endif %}

        <div class="upcoming-shows-item__data">
            <p class="upcoming-shows-item__date">{{ item.date|date:"d E" }},<br>
                {% if language == "ru" %}
                    {{ item.date|date:"l"|lower }}
                {% else %}
                    {{ item.date|date:"l" }}
                {% endif %}
            </p>
            <h3 class="upcoming-shows-item__title {% if item.title|length > 30 %}upcoming-shows-item__title_small_yes{% endif %}">{{ item.title|safe }}</h3>
            <div class="upcoming-shows-item__additional-info popup__handler">
                <div class="popup__popup">
                    <div class="upcoming-shows-item__popup popup__balloon">
                        <p class="upcoming-shows-item__place">
                        {% if item.place %}
                            {% if not item.place.city.country.default_country %}
                                {{ item.place.city.country.title }},
                            {% endif %}
                            {{ item.place.city.title }}<br>
                            <span style="{% if item.place.title|length > 24 %}font-size: 12px;{% endif %}">
                                {{ item.place.title }}
                            </span>
                        {% else %}
                            {% if not item.city.country.default_country %}
                                {{ item.city.country.title }},
                            {% endif %}
                            {{ item.city.title }}
                        {% endif %}
                        </p>
                        <p class="upcoming-shows-item__time">{{ item.time|time:"H:i" }}</p>
                        {% if item.booking_link %}
                            <p class="upcoming-shows-item__booking-link"><a href="{{ item.booking_link }}">{% trans "Заказ билетов" %}</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
    </div>
</section>
<div class="slider__arrow slider__arrow_direction_right"></div>
</div>
