{% load thumbnail sekizai_tags %}

{% addtoblock 'css' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cmsplugin_eifman_teaser/css/teaser.css"/>
{% endaddtoblock %}
<div class="teaser {{ teaser.class_name }} clearfix">
    {% if instance.image %}
    {% thumbnail instance.image size crop=opts.crop subject_location=opts.subject_location as thumbnail %}
    <div class="teaser__image">
        <a href="{{ instance.page_link.get_absolute_url }}">
            <img alt="" src="{{ thumbnail.url }}" />
        </a>
    </div>
    {% endif %}

    <article class="teaser__data">
        {% if instance.page_link %}
            <h2 class="teaser__title"><a href="{{ instance.page_link.get_absolute_url }}"
                class="teaser__link">{{ instance.title }}</a></h2>
        {% else %}
            <h2 class="teaser__title">{{ instance.title }}</h2>
        {% endif %}

        <div class="teaser__text">{{ instance.teaser_text|safe }}</div>
    </article>
</div>
