body { margin: 0; }
.bar { width: 100%; height: 50px; border-bottom: 1px solid #d3dae0; margin: auto; background: #e1e6eb; }
.wrapper { width: 960px; margin: auto; }
.wrapper img { vertical-align: middle; }
.btn-block1 { width: 220px; line-height: 50px; display: inline-block; text-align: center; }
.btn-block1:hover { background: #edf1f5; }
.btn-block2 { width: 140px; line-height: 50px; display: inline-block; text-align: center; }
.btn-block2:hover { background: #edf1f5; }
.btn-block3 { width: 120px; line-height: 50px; display: inline-block; text-align: center; }
.btn-block3:hover { background: #edf1f5; }
.btn { border: none; background: none; line-height: 35px; width: 35px; vertical-align: middle; padding: 0; cursor: pointer; letter-spacing: 0em; border-image-width: 0; }
.btn span { padding: 0 5px; font-size: 18px; }
.btn:hover { background: #e1e6eb; }
.btn-reset { border: none; background: none; line-height: 50px; vertical-align: middle; padding: 0 5px; cursor: pointer; font-size: 18px; letter-spacing: 0em; }
.slt { margin: 5px; }