{% extends CMS_TEMPLATE %}
{% load sekizai_tags address_tags i18n thumbnail %}

{% block extrajs %}
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD561cxzs-J1bFfA--bia4ZU227aDKjwsU&sensor=true"></script>
{% endblock %}

{% block content %}


    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}contacts/js/static-map.js"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script>
        $(function() {
            $('.contacts-map').staticMap();
        });
        </script>
    {% endaddtoblock %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}contacts/css/feedback-form.css"/>
    {% endaddtoblock %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}contacts/css/contacts-item.css"/>
    {% endaddtoblock %}

    {% address_tags %}

    <div class="container">
    <h1>{% trans "Обратная связь" %}</h1>

    <form class="feedback-form" action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <p class="feedback-form__submit-wrapper">
            <input type="submit" class="feedback-form__submit" value={% trans 'Submit' %} />
        </p>
    </form>
    </div>
{% endblock %}
