{% extends CMS_TEMPLATE %}
{% load i18n sekizai_tags address_tags %}

{% block extrajs %}
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD561cxzs-J1bFfA--bia4ZU227aDKjwsU&sensor=true"></script>
{% endblock %}

{% block content %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}contacts/js/static-map.js"></script>
    {% endaddtoblock %}

    {% addtoblock "js" %}
        <script>
        $(function() {
            $('.contacts-map').staticMap();
        });
        </script>
    {% endaddtoblock %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}contacts/css/contacts-item.css"/>
    {% endaddtoblock %}

    {% address_tags %}

    <div class="container">
        <p>{% trans "Ваше сообщение отправлено. Спасибо!" %}</p>
    </div>
{% endblock %}
