.promo {
    font-family: "PT Serif", serif;
    font-size: 38px;
    height: 500px;
    overflow: hidden;
    background: none !important;
}

.promo__row {
    line-height: 500px;
    height: 500px;
    background: none !important;
}

.promo__row_back_yes {
    line-height: 458px;
    height: 458px;
    background: none !important;
}

.promo .diorama__item {
    float: none;
    display: inline-block;
    vertical-align: bottom;
}

.promo .twilight {
    line-height: 1;
    background: none !important;
}

.promo .twilight__text {
    display: none;
    font-size: 38px;
    line-height: 1;
    background: none !important;
}
