{% load sekizai_tags %}

<div class="container">
    {% for object in objects %}
    <article class="contacts-item">
        <div class="contacts-item__map contacts-map"
             data-longitude="{{ object.longitude|stringformat:"f" }}"
             data-latitude="{{ object.latitude|stringformat:"f" }}">
        </div>
        <div class="contacts-item__address">
            {{ object.address|safe }}
        </div>
    </article>
    {% endfor %}
</div>
