<!DOCTYPE html>
{% load i18n cms_tags staticfiles sekizai_tags analytics %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/grid.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/header.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/footer.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/breadcrumb.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/social-icons.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/plugin.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "css/spec.css" %}"/>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}vendor/jquery/dist/jquery.min.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{% static "vendor/jquery.cookie/jquery.cookie.js" %}"></script>
{% endaddtoblock %}

<html>
  <head>
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
    <meta name="viewport" content="width=1000">
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}favicon.ico"/>
    <meta name="description" value="{% block description %}{% endblock %}" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans|PT+Serif&subset=latin,cyrillic-ext"/>
    {% block extrahead %}{% endblock %}
    {% if not request.user.is_active %}
    <base href="{{ BASE_URL }}">
    {% endif %}
    {% analytics %}
  </head>
  <body>
    {% cms_toolbar %}

    {% block layout %}{% endblock %}

    {% block extrajs %}{% endblock %}
    {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
  </body>
</html>