{% extends 'layout/base.html' %}
{% load social_icons cms_tags menu_tags %}
{% block layout %}
    {% block header %}
        <div class="container">
        {% include 'blocks/header.html' %}
        </div>
    {% endblock %}

    {% block promo %}{% endblock %}

    {% block mainmenu %}
        <div class="container">
            <div class="menu-main" role="navigation">
                <ul class="nav navbar-nav">
                    {% show_menu 1 2 100 100 "blocks/main-menu.html" %}
                </ul>
            </div>
        </div>
    {% endblock %}

    {% block welcome %}{% endblock %}

    {% block content %}
        <div class="content">
        {% placeholder "content" %}
        </div>
    {% endblock content %}

{% include "blocks/footer.html" %}
{% endblock %}
