{% load i18n thumbnail sekizai_tags %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cmsplugin_eifman_gallery/css/gallery.css"/>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}cmsplugin_eifman_gallery/js/gallery.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script>
    $(function() {
        $('.eifman-plugin-gallery').slider({{ js_params|safe }});
    });
    </script>
{% endaddtoblock %}

<div class="eifman-plugin-gallery slider {{ object.object }}" id="gallery_{{ object.id }}">
    <div class="slider__arrow slider__arrow_disabled_yes slider__arrow_direction_left"></div>
    <section class="slider__content"
            style="
                {% if opts.width %}width: {{ opts.width }}px{% endif %};
                {% if opts.height %}height: {{ opts.height }}px{% endif %};
                ">
        <div class="slider__wrapper">
        {% for image in folder_images %}
            <div class="slider__item"
                 style="
                         {% if opts.width %}width: {{ opts.width }}px{% endif %};
                         {% if opts.height %}height: {{ opts.height }}px{% endif %};
                         ">
                <img src="{% thumbnail image.file size crop=opts.crop %}">
            </div>
        {% endfor %}
        </div>
    </section>
    <div class="slider__arrow slider__arrow_direction_right"></div>
</div>
