.teaser {
    margin-bottom: 20px;
    background: #141414;
}

.teaser__image {
    float: left;
}

.teaser__data {
    overflow: hidden;
    padding: 20px 30px 20px 10px;
}

.teaser__title {
    font-size: 22px;
    margin: 0 0 10px;
}

.teaser__text {
    font-size: 15px;
    line-height: 18px;
    font-style: italic;
}
