{% load i18n menu_tags %}
{% get_available_languages as languages %}
{% if languages|length > 1 %}
    <ul>
    {% for language in languages %}
        {% ifequal current_language language.0 %}
            <li class="lang active">
                <span>{% if language.0 == 'ru' %}Русский{% else %}English{% endif %}</span>
            </li>
        {% else %}
            <li class="lang">
                <a href="{% page_language_url language.0 %}">{% if language.0 == 'ru' %}Русский{% else %}English{% endif %}</a>
            </li>
        {% endifequal %}
    {% endfor %}
    </ul>
{% endif %}