{% load i18n thumbnail %}

{% get_current_language as language %}

<article class="schedule-list__item schedule-item schedule-item_mode_{{ mode }}">
    <div class="schedule-item__image-wrapper">
        {% if show.item_cover %}
            <img class="schedule-item__image" src="{% thumbnail show.item_cover image_size crop %}" alt=""/>
        {% else %}
            <svg height="{{ image_height }}" width="{{ image_width }}">
                <image xlink:href="{{ STATIC_URL }}theatre/img/sign.svg" height="{{ image_height }}" width="{{ image_width }}" />
            </svg>
        {% endif %}
    </div>
    <div class="schedule-item__data">
        <h3 class="schedule-item__title {% if show.title|length > 20 %}schedule-item__title_small_yes{% endif %}">{{ show.title|safe }}</h3>
        <div class="schedule-item__date-time">
            <p class="schedule-item__date">{{ show.date|date:"d E" }},<br>
                {% if language == "ru" %}
                    {{ show.date|date:"l"|lower }}
                {% else %}
                    {{ show.date|date:"l" }}
                {% endif %}
                </p>
            <p class="schedule-item__time">{{ show.time|time:"H:i" }}</p>
        </div>
        <p class="schedule-item__place">
        {% if show.place %}
            {% if not show.place.city.country.default_country %}
                {{ show.place.city.country.title }},
            {% endif %}
            {{ show.place.city.title }}<br>
            <span style="{% if show.place.title|length > 24 %}font-size: 12px;{% endif %}">
            {{ show.place.title }}
            </span>
        {% else %}
            {% if not show.city.country.default_country %}
                {{ show.city.country.title }},
            {% endif %}
            {{ show.city.title }}
        {% endif %}
        </p>

    </div>
    <footer class="schedule-item__links">
        {% if show.ballet %}
            <a href="{% url "repertoire:ballet_page" slug=show.ballet.slug  %}">{% trans "Подробнее о спектакле" %}</a>
        {% endif %}
        {% if show.booking_link %}
            <a href="{{ show.booking_link }}">{% trans "Заказ билетов" %}</a>
        {% endif %}
    </footer>
</article>
