{% load cms_tags sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cmsplugin_eifman_contentbox/css/eifman_columns.css"/>
{% endaddtoblock %}
<section class="eifman-box eifman-box_type_{{ instance.type }} {{ instance.custom_classes }}">
    <div class="container">
    {% for plugin in instance.child_plugin_instances %}
	    {% render_plugin plugin %}
    {% endfor %}
    </div>
</section>
