body {
    font: 15px/20px "PT Sans", sans-serif;
    min-width: 960px;
    margin: 0;
    padding: 0;
    background: #000;
    color: #FFF;
}

p {
    margin-top: 0;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 28px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content a:link,
.content a:visited {
    text-decoration: underline;
}

.clearfix {

}

.clearfix::after {
    content: "";
    font-size: 0;
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
}

.loading {
    background: url("../i/spinner.gif") center no-repeat;
}

.shadow {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(20,20,20,.9);
}

.shadow_visible_yes {
    display: block;
}
