.breadcrumb {
    font-family: "PT Serif", sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.breadcrumb__link:link,
.breadcrumb__link:visited {
    text-decoration: none;
    color: #444;
}

.breadcrumb__link:hover {
    text-decoration: underline;
}

.breadcrumb__spacer {
    color: #444;
}
