.footer {
    background: #141414;
    padding: 30px 0;
}
.copyright {
    font-size: 14px;
    float: left;
    width: 218px;
    margin: 0 9px;
}
.contacts {
    font-size: 14px;
    float: left;
    width: 218px;
    margin: 0 9px;
}
.menu-footer {
    font-size: 15px;
    float: left;
    width: 218px;
    margin: 0 9px 0 90px;
}
.footer__social-icons {
    float: right;
    width: 138px;
    margin: 0 9px;
}
.menu-footer li {
    width: 100px;
    float: left;
    margin: 0 0 8px 0;
    border-bottom: 1px solid #141414; /* fix hover border */
    display: block;
}
.menu-footer li:hover {
    border-bottom: 1px solid #fff;
}
.menu-footer__vacancy {
    padding-bottom: 5px;
    float: left;
    display: block;
}
.menu-footer__vacancy:hover {
    text-decoration: none;
    border-bottom: 1px solid #fff;
}