.form__item {
    margin: 20px 0 0 0;
    vertical-align: top;
    overflow: hidden;
}
.form__label {
    margin: 0 10px 0 0;
    color: #B7B7B7;
    font-size: 18px;
    line-height: 35px;
    display: inline-block;
}
.form__input {
    background: #1E1E1E;
    padding: 5px;
    width: 370px;
    border: none;
    color: #fff;
    font-size: 18px;
    display: block;
}
.form__textarea {
    background: #1E1E1E;
    width: 370px;
    height: 100px;
    padding: 5px;border: none;
    color: #fff;
    font-size: 18px;
    display: block;
}
.form__help-text {
    margin: 0;
    font-size: 12px;
    color: #B7B7B7;
}
.form__submit-btn {
    background: #C6C6C6;
    padding: 5px 25px;
    font-size: 18px;
    color: #000;
    border: none;
    cursor: pointer;
}
.form__btn-wrapper {
    margin: 30px 0 0 0;
}
.btn_wrapper_right {
    text-align: right;
}
.btn_wrapper_left {
    text-align: left;
}
.btn_wrapper_indent_left {
    margin-left: 265px;
}