.container {
    width: 960px;
    margin: 0 auto;
}

.container::after {
    content: "";
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.visual-separator {
    margin-bottom: 14px;
    border-bottom: solid 2px #3A3A3A;
}
