.header {
    padding: 16px 0 0;
    height: 85px;
}
.logo {
    float: left;
}
.logo img {
    height: 75px;
}
.language-chooser {
    font: 16px "PT Serif", serif;
    float: right;
    padding-top: 8px;
}
.language-chooser ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.language-chooser li {
    display: inline;
    margin: 10px;
}
.language-chooser .active,
.language-chooser .active a {
    color: #2B2B2B;
}

.header__social-icons {
    float: right;
    padding-top: 4px;
    margin-right: 20px;
}
.header__wrapper {
    overflow: hidden;
    float: right;
}
.header_wrapper_item {
    overflow: hidden;
}