.promo {
    height: 500px;
    background: url("../i/promo-bg.jpg") repeat-x center;
}
.welcome {
    margin-bottom: 42px;
    background: #141414;
}
.welcome .container {
    min-height: 148px;
    padding: 18px 0;
}
.welcome_lang_ru .container {
    background: url("../i/eifman-sign.jpg") bottom right no-repeat;
}
.welcome_lang_en .container {
    background: url("../i/eifman-sign-eng.jpg") bottom right no-repeat;
}
.welcome-image {
    float: left;
    height: 140px;
    width: 140px;
    overflow: hidden;
    border-radius: 50%;
}
.welcome-text {
    position: relative;
    font: 16px/23px "PT Serif", serif;
    width: 573px;
    margin-left: 240px;
}

.welcome-text p {
    display: none;
}

.welcome-text p:first-child {
    display: block;
}

.content {
    margin-bottom: 30px;
    text-align: justify;
}
.content__title {
    margin: 0 0 15px 0;
    font-size: 24px;
    font-weight: bold;
}

h1,
h3,
h3,
h4,
h5,
h6 {
    text-align: left;
}