.menu-main {
    font: 18px "PT Serif", serif;
    height: 93px;
    padding-top: 30px;
}
.menu-main_slim_yes {
    height: 40px;
}
.menu-main li {
    margin-right: 35px;
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-nav {
    float: left;
}
.navbar-nav::after {
    content: "";
    font-size: 0;
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}
.navbar-nav li {
    float: left;
    padding-bottom: 5px;
}

.navbar-nav a:hover {
    text-decoration: none;
}

.navbar-nav li.ancestor,
.navbar-nav li.active {
    border-bottom: solid 1px #FFF;
}

.navbar-nav li.dropdown {
    position: relative;
}

.navbar-nav .dropdown-menu {
    font-family: "PT Sans", sans-serif;
    display: none;
    font-size: 17px;
    position: absolute;
    left: 0;
    z-index: 1000;
    margin: 0 0;
    padding: 14px 0 0;
    list-style: none;
    white-space: nowrap;
}

.navbar-nav .dropdown-menu_style_line {
    font-size: 0;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .dropdown-menu::before {
    content: "";
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    height: 0;
    display: block;
    position: absolute;
    left: 23px;
    top: -10px;
    border: solid 12px;
    border-color: transparent transparent #141414 transparent;
}

.dropdown-menu li {
    float: none;
    display: block;
    margin: 0;
    padding: 0;
    background: #141414;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 16px;
}

.dropdown-menu_style_line li {
    font-size: 17px;
    display: inline-block;
    margin: 0;
}
