.social-icons {
    text-align: right;
    font-size: 0;
}

.social-icons__icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: 8px;
}

.social-icons__icon:first-child {
    margin-left: 0;
}

.social-icons__icon:hover {
    opacity: .8;
}
