.spec-escape {
    width: 100%;
    height: 25px;
    border: none;
    margin-top: -4px;
    background: #e1e6eb;
    font-size: 18px;
}
.spec {
    background: none !important;
    line-height: inherit !important;
    letter-spacing: normal !important;
    font-size: 20px !important;
}
.spec a {
    background: #EDEDED !important;
    padding: 10px !important;
    font-size: 20px !important;
    color: #000 !important;
    display: inline-block;
    line-height: inherit !important;
    letter-spacing: normal !important;
}