.twilight {
    background: none !important;
}

.twilight__handler {
    background: none !important;
}

.twilight__text {
    background: none !important;
}

.twilight__letter {
    background: none !important;
}

.twilight__image-box {
    background: none !important;
}

.twilight__image-box img {
    background: none !important;
}

.twilight__image_cover_yes {
    background: none !important;
}