.ballet__header {
    min-height: 345px;
    margin-bottom: 40px;
}

.ballet__info {
    margin-left: 114px;
    margin-bottom: 15px;
}

.ballet-info {
    font-size: 15px;
}

.ballet-info__item {
    margin-bottom: 2px;
}

.ballet-info__label {
    width: 106px;
    display: inline-block;
    color: #727272;
}

.ballet__premiere-date {
    margin-top: 15px;
}

.ballet__tabs {
    width: 907px;
    margin: 0 auto;
}

.ballet-feedback{
    font-size: 15px;
    width: 596px;
    margin: 0 auto 40px;
}

.ballet-feedback__title {
    font-size: 16px;
}

.ballet-feedback__info {
    font-style: italic;
    text-align: right;
    color: #aaaaaa;
}


.ballet-page__video-gallery {
    font-size: 0;
    line-height: 300px;
    position: relative;
    width: 400px !important;
    height: 300px;
    margin: 0 auto;
}

.ballet-page__video-gallery .slider__content {
    width: 400px;
}

.ballet-page__video-gallery .slider__pager {
    top: 10px;
}

.ballet-page__video-gallery_item {
    display: inline-block;
    width: 400px;
    height: 300px;
    text-align: center;
    vertical-align: middle;
}
