.eifman-page {

}

.eifman-page__intro {
    overflow: hidden;
    height: 384px;
    margin-bottom: 55px;
}

.eifman-page__intro-image {
    float: right;
    height: 384px;
    margin-left: 30px;
}

.eifman-page__intro-text {
    font-size: 18px;
    line-height: 22px;
    padding: 30px 20px 20px 0;
}

.eifman-page__intro-text h1 {
    font-family: "PT Serif", sans-serif;
    font-size: 27px;
    line-height: 33px;
    margin-top: 0;
}

.eifman-page__belt {
    margin-bottom: 70px;
    padding: 43px 0 33px;
    background: #1E1E1E;
}

.eifman-page__belt-image {
    float: left;
    width: 360px;
    height: 360px;
    overflow: hidden;
    border-radius: 50%;
}

.eifman-page__belt-text {
    font-size: 15px;
    margin-left: 395px;
}

.eifman-page__belt-text h1 {
    font-size: 22px;
    font-family: "PT Serif", sans-serif;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 38px;
}

.eifman-page__gallery {
    margin-bottom: 35px;
}

.eifman-page__quotes {
    font-family: "PT Serif", sans-serif;
    padding: 35px 0;
}

.eifman-page__quotes-title {
    font-size: 27px;
    margin-bottom: 35px;
    text-align: center;
}

.eifman-page__quotes-content {
    font-size: 17px;
    font-style: italic;
    line-height: 24px;
    overflow: hidden;
    text-align: center;
}

.eifman-page__quotes-quote {
    margin-bottom: 45px;
}

.eifman-page__quotes-quote:last-child {
    margin-bottom: 0;
}

.eifman-page__quotes-content .grid-6 {
    width: 33%;
    float: left;
}

.eifman-page__quotes-content .grid-6 p {
    margin-left: 18px;
    margin-right: 18px;
}