.gallery {
    width: 919px;
    overflow: hidden;
}

.gallery__thumbnail {
    float: left;
    width: 132px;
    height: 132px;
    margin: 0 13px 13px 0;
    padding: 4px;
    background: #262626;
    cursor: pointer;
}

.gallery__thumbnail:hover {
    background: #161616;
}

.gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.9);
}

.gallery-popup {
    position: absolute;
    height: 855px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.gallery-popup__image-wrapper {
    height: 570px;
    line-height: 570px;
    padding: 46px 0;
    text-align: center;
    background: #232323;
}

.gallery-popup__image-wrapper .container {
    position: relative;
    height: 100%;
}

.gallery-popup__image-photo {
    max-height: 100%;
    vertical-align: middle;
}

.gallery-popup__title {
    font-size: 24px;
    line-height: 70px;
    height: 70px;
    text-align: center;
}

.gallery-popup__footer {
    height: 101px;
    padding: 13px 0;
    background: #232323;
}

.gallery-popup__footer .container {
    position: relative;
    height: 101px;
}

.gallery-popup__previews {
    font-size: 0;
    width: 865px;
    overflow: hidden;
    margin: 0 auto;
    white-space: nowrap;
}

.gallery-popup__preview {
    position: relative;
    left: 0;
    width: 93px;
    height: 93px;
    margin-right: 8px;
    padding: 4px;
    display: inline-block;
    vertical-align: top;
    background: #262626;
}

.gallery-popup__preview_selected_yes {
    background: #3A3A3A;
}

.gallery-popup__image-arrow {
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gallery-popup__image-arrow::before {
    content: "";
    font-size: 0;
    position: absolute;
    left: 0;
    top: 50%;
    height: 76px;
    width: 30px;
    margin-top: -38px;
}

.gallery-popup__image-arrow:hover {
    opacity: .8;
}

.gallery-popup__image-arrow_direction_left {
    left: 0;
}

.gallery-popup__image-arrow_direction_left::before {
    background: url(../img/arrow-left.svg) no-repeat;
}

.gallery-popup__image-arrow_direction_right {
    right: 0;
}

.gallery-popup__image-arrow_direction_right::before {
    background: url(../img/arrow-right.svg) no-repeat;
}

.gallery-popup__image-arrow_disabled_yes {
    opacity: .4;
    cursor: default;
}

.gallery-popup__image-arrow_disabled_yes:hover {
    opacity: .4;
}

.gallery-popup__footer-arrow {
    width: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gallery-popup__footer-arrow:hover {
    opacity: .8;
}

.gallery-popup__footer-arrow_disabled_yes,
.gallery-popup__footer-arrow_disabled_yes:hover {
    opacity: .4;
    cursor: default;
}

.gallery-popup__footer-arrow::before {
    content: "";
    font-size: 0;
    position: absolute;
    left: 0;
    top: 50%;
    height: 46px;
    width: 18px;
    margin-top: -23px;
}

.gallery-popup__footer-arrow_direction_left {
    left: 0;
}

.gallery-popup__footer-arrow_direction_left::before {
    background: url(../img/arrow-left.svg) no-repeat;
}

.gallery-popup__footer-arrow_direction_right {
    right: 0;
}

.gallery-popup__footer-arrow_direction_right::before {
    background: url(../img/arrow-right.svg) no-repeat;
}

.gallery-popup__closer {
    font-size: 28px;
    line-height: 0;
    position: absolute;
    top: 0;
    right: 30px;
    width: 20px;
    cursor: pointer;
}
