.person-page {

}

.person-page__about {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
    width: 596px;
    margin: 0 auto;
}

.person-page__about:after {
    content: "";
    font-size: 0;
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
}

.person-page__about-text {
    overflow: hidden;
}

.person-page__gallery {
    font-size: 0;
    line-height: 640px;
    position: relative;
    height: 640px;
    margin-bottom: 20px;
}

.person-page__person-photo {
    float: left;
    margin: 0 20px 20px 0;
}

.person-page__gallery_item {
    display: inline-block;
    width: 940px;
    height: 630px;
    text-align: center;
    vertical-align: middle;
}

.person-page__gallery_item img {
    vertical-align: middle;
}

