.persons {
    width: 944px;
    margin: 0 auto;
}

.persons__title {
    font-family: "PT Serif", serif;
    font-size: 24px;
    line-height: 1;
    padding-bottom: 8px;
    border-bottom: solid 2px #3A3A3A;
}

.persons__list {
    overflow: hidden;
    width: 800px;
    margin-bottom: 10px;
    margin-right: -19px;
}

.persons__list_text_yes {
    font-family: "PT Serif", serif;
    font-size: 18px;
    width: auto;

}

.person {

}

.person_role_solist {
    float: left;
    width: 140px;
    height: 256px;
    overflow: hidden;
    margin-right: 19px;
    margin-bottom: 30px;
    text-align: center;
}

.person__photo-wrapper {
    background: #141414;
}

.person__photo-wrapper_role_solist {
    height: 186px;
}

.person__photo-wrapper_role_tutor {
    height: 186px;
}

.person__photo {
    display: block;
}

.person__name a:link,
.person__name a:visited,
.person__name a:hover {
    text-decoration: none;
}

.person__name_role_solist {
    font-size: 18px;
}

.person_role_tutor {
    float: left;
    width: 140px;
    text-align: center;
    margin-right: 19px;
    margin-bottom: 30px;
}

.person__name_role_tutor {
    font-size: 14px;
}
