.theatre-principal-list {
    margin: 40px 0;
}

.theatre-principal {

}

.theatre-principal_hasPhoto_yes {
    overflow: hidden;
    margin: 34px 0;
}

.theatre-principal__photo-wrapper {
    float: left;
    height: 298px;
    width: 298px;
    overflow: hidden;
    border-radius: 50%;
}

.theatre-principal__name_style_image {
    font-family: "PT Serif", serif;
    font-size: 22px;
    margin: 110px 0 0 320px;
}

.theatre-principal__name_style_default {
    font-size: 18px;
    margin: 20px 80px;
}
