.schedule {
    background: #141414;
}

.schedule-list {
    overflow: hidden;
    padding: 20px 15px;
}

.schedule-list__item {
    float: left;
    width: 270px;
    height: 412px;
    margin: 0 20px 30px;
}

.schedule-item {
    background: #000;
    cursor: pointer;
}

.schedule-item_mode_map {
    float: none;
    width: auto;
    height: auto;
    margin: 0;
    cursor: default;
}

.schedule-item_mode_popup {
    position: absolute;
    float: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 550px;
    height: 256px;
    margin: auto;
    background: #000;
    cursor: default;
}

.schedule-item__image-wrapper {
    height: 270px;
}

.schedule-item_mode_map .schedule-item__image-wrapper {
    height: 207px;
    float: left;
}

.schedule-item_mode_popup .schedule-item__image-wrapper {
    float: left;
    height: 256px;
    width: 256px;
}

.schedule-item__image {
    display: block;
}

.schedule-item_mode_popup .schedule-item__image {
    height: 256px;
    width: 256px;
}

.schedule-item__data {
    padding: 13px;
}

.schedule-item_mode_map .schedule-item__data {
    margin-left: 210px;
}

.schedule-item_mode_popup .schedule-item__data {
    margin-left: 265px;
    padding-top: 35px;
}

.schedule-item__title {
    font-size: 23px;
    line-height: 1;
    margin: 0 0 10px;
}

.schedule-item__title_small_yes {
    font-size: 14px;
    margin: 0;
}

.schedule-item_mode_map .schedule-item__title {
    height: 55px;
    margin-left: 15px;
    padding-top: 10px;
}

.schedule-item_mode_popup .schedule-item__title {
    font-size: 23px;
}

.schedule-item__date-time {
    overflow: hidden;
}

.schedule-item__date {
    font-size: 15px;
    line-height: 18px;
    float: left;
    width: 118px;
    margin-bottom: 12px;
    padding-left: 27px;
}

.schedule-item__time {
    font-size: 15px;
    line-height: 18px;
    position: relative;
    float: left;
    padding-left: 20px;
}

.schedule-item__time::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    height: 9px;
    width: 9px;
    background: url("../img/time-icon.svg") no-repeat;
}

.schedule-item__place {
    font-size: 15px;
    line-height: 18px;
    position: relative;
    padding-left: 27px;
}

.schedule-item__place::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 27px;
    width: 18px;
    background: url("../img/place-mark-gray.svg") no-repeat;
}

.schedule-item_mode_popup .schedule-item__place::before {
    background: url("../img/place-mark-white.svg") no-repeat;
}

.schedule-item_mode_map .schedule-item__place::before {
    background: url("../img/place-mark-white.svg") no-repeat;
}

.schedule-pager {
    font-size: 18px;
    padding: 28px 0 10px;
    text-align: center;
}

.schedule-pager__arrow {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 11px;
    height: 26px;
}

.schedule-pager__arrow:active {
    opacity: .8;
}

.schedule-pager__prev::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 11px;
    height: 26px;
    background: url("../img/arrow-left_11x26.svg") no-repeat;
}

.schedule-pager__next::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 11px;
    height: 26px;
    background: url("../img/arrow-right_11x26.svg") no-repeat;
}

.schedule-pager__title {
    display: inline-block;
    width: 245px;
}

.schedule-item__links {
    display: none;
}

.schedule-item_mode_popup .schedule-item__links {
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    left: 305px;
    display: block;
}

.schedule-item__links a {
    display: block;
}
