.slider {
    position: relative;
    width: 940px;
}

.slider__content {
    width: 940px;
    overflow: hidden;
}

.slider__wrapper {
    position: relative;
    white-space: nowrap;
}

.slider__arrow {
    position: absolute;
    width: 14px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slider__arrow::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 32px;
    top: 50%;
    left: 0;
    margin-top: -16px;
}

.slider__arrow:active {
    opacity: .8;
}

.slider__arrow_disabled_yes:active,
.slider__arrow_disabled_yes {
    opacity: .4;
    cursor: default;
}

.slider__arrow_direction_left {
    left: -30px;
}
.slider__arrow_direction_left::before {
    background: url("../img/arrow-left.svg") no-repeat;
}

.slider__arrow_direction_right {
    right: -30px;
}
.slider__arrow_direction_right::before {
    background: url("../img/arrow-right.svg") no-repeat;
}

.slider__pager {
    line-height: 0;
    position: relative;
    top: -40px;
    text-align: center;
}

.slider__pager-item {
    font-size: 0;
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 5px;
    border: solid 1px #FFF;
    border-radius: 50%;
    cursor: pointer;
}

.slider__pager-item:hover,
.slider__pager-item_selected_yes {
    background: #FFF;
}
