.tabs {
}

.tabs__header {
    font-size: 14px;
    line-height: 17px;
    font-family: "PT Serif", sans-serif;
    border-bottom: solid 2px #3A3A3A;
}

.tabs__header::after {
    content: "";
    display: block;
    font-size: 0;
    clear: both;
    height: 0;
    overflow: hidden;
}

.tabs__header-item {
    position: relative;
    float: left;
    width: 109px;
    min-height: 35px;
    padding: 8px 10px;
    text-align: center;
    cursor: pointer;
}

.tabs__header-item:first-child {
    width: 113px;
}

.tabs__header-item_disabled_yes {
    cursor: default;
}

.tabs__header-item:hover::after,
.tabs__header-item_active_true::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 0;
    overflow: hidden;
    border-bottom: solid 2px #898989;
}

.tabs__header-item_disabled_yes:hover::after {
    border-bottom: none;
}

.tabs__content {
    padding: 10px 0;
}

.tabs__content-item {
    display: none;
}

.tabs__content-item_visible_yes {
    display: block;
}

.tabs__content-item_type_text {
    font-size: 15px;
    width: 596px;
    margin: 0 auto;
}

.tabs__content-item_type_schedule {
    padding-top: 20px;
    padding-bottom: 20px;
}

.tabs__content-item_type_video {
    padding-top: 20px;
}