.tales {

}

.tales__item {
    width: 940px;
    white-space: normal;
}

.tales-item {
    overflow: hidden;
}

.tales-item__image {
    height: 345px;
}

.tales-item__image_position_left {
    float: left;
    margin-right: 25px;
}

.tales-item__image_position_right {
    float: right;
    margin-left: 25px;
}

.tales-item__quote {
    overflow: hidden;
}

.tales-item__text {
    font-family: "PT Serif", sans-serif;
    font-size: 18px;
    line-height: 23px;
    position: relative;
    margin: 60px 0 0 0;
    padding-left: 54px;
}

.tales-item__text p:first-child {
    font-size: 27px;
    line-height: 32px;
    left: 23px;
    margin-bottom: 20px;
}

.tales-item__text::before {
    content: "«";
    font: 72px "PT Sans", sans-serif;
    position: absolute;
    top: -25px;
    left: 0;
}

.tales-item__text p:last-child::after {
    content: "»";
    font: 60px/0px "PT Sans", sans-serif;
    position: relative;
    top: 15px;
    left: 5px;
}

.tales-item__signature {
    margin-left: 54px;
}
