.theatre-partners {
    margin: 60px 0 200px;
}

.theatre-partners__group {
    margin-bottom: 65px;
}

.theatre-partners__title {
    font-family: "PT Serif", sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.theatre-partners__list {
    
}

.theatre-partners__list::after {
    content: "";
    font-size: 0;
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
    clear: both;
}

.theatre-partners__list a {
    float: left;
    line-height: 182px;
    width: 220px;
    height: 182px;
    margin-right: 20px;
    text-align: center;
}

.theatre-partners__list img {
    vertical-align: middle;
}
