.theatre-page {

}

.theatre-page__tales {
    margin-bottom: 100px;
}

.theatre-page__navigation {
    overflow: hidden;
}

.theatre-page__link {
    float: left;
    width: 137px;
    text-align: center;
}

.theatre-page__link-image {
    width: 114px;
    height: 114px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    background: #2F2F35;
}

.theatre-page__link-title {
    font-size: 17px;
}

.theatre-page__link:link,
.theatre-page__link:visited {
    text-decoration: none !important;
}

.theatre-page object,
.theatre-page embed {
    display: block;
    margin: 0 auto;
}
