.upcoming-shows-list {
    font-size: 0;
    width: 940px;
    white-space: nowrap;
    position: relative;
}
.upcoming-shows-list__item {
    font-size: 15px;
    display: inline-block;
    width: 219px;
    height: 382px;
    margin-right: 20px;
    background: #141414;
}

.upcoming-shows-item__image {
    display: block;
    width: 219px;
    height: 232px;
}

.upcoming-shows-item__data {
    position: relative;
    height: 155px;
    overflow: hidden;
    padding: 15px 15px 0;
}

.upcoming-shows-item__title {
    font-size: 22px;
    white-space: normal;
}

.upcoming-shows-item__title_small_yes {
    font-size: 14px;
    margin: 0;
}

.upcoming-shows-item__additional-info {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    background: #373738 url("../img/popup-handler.svg") center no-repeat;
    border-radius: 50%;
    cursor: pointer;
}

.upcoming-shows-item__popup {
    position: absolute;
    right: -45px;
    bottom: 18px;
    display: none;
    width: 207px;
    padding: 10px 6px;
    background: #373738;
    cursor: pointer;
}
.upcoming-shows-item__popup::after {
    content: "";
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    height: 0;
    display: block;
    position: absolute;
    right: 18px;
    bottom: -24px;
    border: solid 12px;
    border-color: #373738 transparent transparent transparent;
}

.upcoming-shows-item__place {
    position: relative;
    font-size: 14px;
    margin-bottom: 8px;
    padding-left: 20px;
}
.upcoming-shows-item__place::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    height: 13px;
    width: 9px;
    background: url("../img/place-mark.svg") no-repeat;
}

.upcoming-shows-item__time {
    position: relative;
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 20px;
}
.upcoming-shows-item__time::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    height: 9px;
    width: 9px;
    background: url("../img/time-icon.svg") no-repeat;
}

.upcoming-shows-item__booking-link {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0;
    padding-left: 20px;
}