#id_terms_of_use {
    float: left;
    display: inline-block;
}
.form__advanced {
    width: 90%;
    margin: 0 0 0 10px;
    font-size: 12px;
    word-wrap: break-word;
    float: left;
    display: inline-block;
}